[Desktop Entry]
Name=Hardware Probe
Comment=Probe for hardware, check operability and find drivers
Exec=hwprobe -appimage
Icon=hwprobe
Terminal=true
Type=Application
StartupNotify=true
Categories=System;
Keywords=HW Probe;Hardware;Probe;
